.react-calendar {
  border-radius: 40px;
  font-family: inherit;
  min-width: 300px;
  width: 90%;
  background-color: #e7e1d5;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}
.react-calendar__navigation__label {
  font-family: inherit;
  font-size: 18px;
}
.react-calendar__tile--now {
  background-color: #f9c5a2;
}
.react-calendar__navigation__arrow {
  font-size: 35px;
  padding: 0 15px 0 15px;
}
.react-calendar__navigation button {
  min-width: 0;
}
